@import url(fontiran.css); 

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

:root:not(.dark) {
    --background-color: #ffffff;
    --primary-color: #dab007;
    --secondary-color: #c4c4c4;
    --font-color: rgb(23, 23, 23);
    --secondary-font-color: rgb(113, 113, 113);
  }
  
  :root.dark {
    --background-color: #131313;
    --primary-color: #2d066c;
    --secondary-color: #1f1f1f;
    --font-color: #efefef;
    --secondary-font-color: #858585;
  }

body {
	font-family: IRANYekanX  !important;
	direction: rtl;
	/* background-color: #cdcdcd; */
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
    padding: 0;
    border-radius: 20px;
}
h1, h2, h3, h4, h5, h6,input, textarea,button {
	font-family: IRANYekanX !important;
}

.wrapper {
    width: 300px;
    /* height: 400px; */
    padding: 15px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 90px;
    transition: background-color,color 600ms;
    background-color: var(--background-color);
    color: var(--font-color);
    /* border-radius: 20px; */

}

.change-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 90px;
}

.wrapper-header {
    width: 100%;
    /* height: 80px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.logo-wrapper {
    /* width: 50px; */
    
}

.logo-wrapper > img {
    width: 50px;
}

.wrapper-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* height: 300px; */
}

.logo-text {
    font-size: 22px;
    font-weight: 600;
}

.body-text {
    font-size: 19px;
    font-weight: 500;
}

.wrapper-footer {
    width: 100%;
    font-size: 11px;
    font-weight: 400;
    transition: background-color,color 600ms;
    color: var(--secondary-font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.dark-mode {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.dark-mode-text {
    font-size: 11px;
    font-weight: 400;
    transition: background-color,color 600ms;
    color: var(--secondary-font-color);
}

.add-word {
    padding: 10px 20px;
    background-color: #066c5c;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 13px;
}

.add-word-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 5px;
}

.add-word-header > input {
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--font-color);
    width: 200px;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
}

.add-word-header > input::placeholder {
    color: var(--secondary-font-color);
}

.add-word-header > button {
    border: none;
    outline: none;
    background-color: rgb(25, 61, 145);
    /* width: 200px; */
    height: 40px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 200ms;
}

.add-word-header > button:hover {
    background-color: rgb(43, 88, 194);
}

.add-word-body {
    width: 100%;
    height: 200px;
    overflow-x: hidden;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100px;
    flex-flow: wrap;
    gap: 5px;
    color: var(--font-color);
}

.add-word-body-item {
    background-color: var(--secondary-color);
    color: var(--font-color);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5px;
    transition: 200ms;
}

.add-word-body-item > .material-icons {
    font-size: 11px !important;
    display: none;
}

.add-word-body-item:hover  {
    opacity: .7;
}

.add-word-body-item:hover .material-icons{
    display: block;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.export-word,.import-word {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 2px;
    font-size: 10px;
    color: var(--secondary-color);
    cursor: pointer;
    background-color: var(--secondary-font-color);
    border-radius: 10px;
    padding: 5px 9px;
    transition: background-color 200ms;
}

.export-word:hover,.import-word:hover {
    background-color: #464646;
}

.export-word .material-icons,.import-word .material-icons {
    font-size: 16px !important;
}

  .notif-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.721);
    backdrop-filter: blur(5px);
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    display: none;
  }

  /* .notif-wrapper.show {
    display: flex;
  } */

  .notif {
    position: relative;
    width: 250px;
    height: 100px;
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    z-index: 101;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .close {
    background-color: rgb(21, 85, 225);
    padding: 7px 15px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
  }

  .notif-text {
    width: 80%;
    font-size: 14px;
    color: white;
  }


  .addwordlist-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.721);
    backdrop-filter: blur(5px);
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    display: none;
  }

  /* .notif-wrapper.show {
    display: flex;
  } */

  .addwordlist {
    position: relative;
    width: 250px;
    /* height: 100px; */
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    z-index: 101;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }

  .addwordlist-close {
    background-color: rgb(21, 85, 225);
    padding: 7px 15px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 5px;
  }

  .addwordlist-text {
    /* width: 80%; */
    font-size: 14px;
    color: white;
  }

  .addwordlist > input {
    border: none;
    outline: none;
    background-color: rgb(75, 75, 75);
    color: white;
    width: 250px;
    height: 45px;
    border-radius: 5px;
    padding: 10px 15px;
}

.addwordlist > input::placeholder {
    color: rgb(206, 206, 206);
}

.addwordlist-wrapper-close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 35px !important;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #bcbcbc;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  a {
    color: var(--font-color);
    text-decoration: none;
  }